.header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    @media (max-width: 576px) {
        align-items: stretch;
        flex-direction: column;
    }
}

.title {
    display: flex;
    width: 100%;
    align-items: flex-end;

    @media (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.input {
    width: 300px;
    margin-left: auto;
    @media (max-width: 576px) {
        width: 100%;
        margin-left: 0;
    }
}

.chat {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    height: 500px;
    margin-bottom: 15px;
    border-radius: 10px;

    @media (max-width: 768px) {
        height: 400px;
    }
}

.chatContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    @media (max-width: 768px) {
        padding: 10px 20px;
    }

    @media (max-width: 576px) {
        padding: 5px 15px;
    }
}

.message {
    --color: #eaeaea;
    --rounded: 10px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    width: fit-content;
    display: flex;
    background-color: var(--color);
    border-radius: var(--rounded);
    padding: 15px;
    min-width: 222px;
    border-bottom-left-radius: 0;

    @media (max-width: 576px) {
        padding: 10px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -15px;
        width: 32px;
        height: 16px;
        background-color: var(--color);
        mask-image: url("data:image/svg+xml,%3Csvg width='33' height='16' viewBox='0 0 33 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5365 -1.19209e-07C17.0844 8.93808 23.7833 16 31.9667 16L1.03333 16C9.21667 16 15.9156 8.93808 16.4635 -1.19209e-07H16.5365ZM0.499998 15.9899C0.677082 15.9965 0.855207 16 1.03333 16H0.499998V15.9899ZM32.5 15.9899C32.3229 15.9965 32.1448 16 31.9667 16H32.5V15.9899Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.timestamp {
    color: #909090;
}

.avatar {
    margin-top: 3px;
    @media (max-width: 576px) {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }
}

.myMessage {
    --color: #4169e1;
    margin-left: auto;
    color: #fff;
    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: 0;
    margin-right: 10px;

    &:after {
        left: auto;
        right: -15px;
    }

    .timestamp {
        color: inherit;
    }
}

.text {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: 15px;

    @media (max-width: 576px) {
        margin-bottom: 0;
    }
}

.searchButton {
    transform: scale(0) rotate(-180deg);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 0.3s !important;

    svg {
        color: #000;
    }

    &Active {
        transform: scale(1) rotate(0);
    }
}

.down {
    transform: translateY(200px) !important;
    position: absolute !important;
    bottom: 20px !important;
    right: 20px !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms transform 0.3s !important;

    &Active {
        transform: translateY(0) !important;
    }
}